@charset "utf-8";
/* CSS Document */
#score{
	text-align:center;
	}
h2{
	text-align:center;
	}
div{
	margin:0 auto;
	width:100px;
	height:100px;
	}
#main{
	width:400px;
	height:400px;
	background:white;
	border:2px solid gray;
	margin:0 auto;
	overflow:hidden;
	}
#con{
	width:100%;
	height:400px;
	position:relative;
	top:-100px;/*隐藏最上面那一层(元素上边缘距离包含元素-100px)*/
	border-collapse:collapse;/*设置合并边框*/
	}
.row{
	height:100px;
	width:100%;
	}
.cell{
	height:100px;
	width:100px;
	float:left;/*块状元素独占一行，向左浮动排成一排*/
	}
.black{
	background-color:black;
	}

